*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    /* --ff-primary: 'Source Sans Pro', sans-serif; */
    --ff-secondary: 'Roboto Mono', monospace;
    --ff-primary: 'Montserrat', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 700;
    
    --clr-light: #ffffff;
    --clr-dark: #303030;
    --clr-accent: #fec205;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

/* Does not work on Safari */
html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--clr-dark);
}

body {
    background: var(--clr-dark);
    background-image: url(../img/background2.jpeg);
    color: var(--clr-light);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 10em 1em;
    padding-bottom: 7em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */
.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover,
.btn__details:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro,
.portfolio__item--intro {
    font-weight: var(--fw-reg);
}


.section__title--intro strong {
    display: block;
}

.section__subtitle,
.portfolio__item--description {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    color: var(--clr-dark);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: .3em;
}

.portfolio__item--description {
    color: var(--clr-light);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: .3em;
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;

}

.special {
    color: var(--clr-accent);
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logoword {
    padding-top: 0.1em;
    font-size: 20px;
}


.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav__link:hover{
    color: var(--clr-accent);
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
    transform: translateX(0);   
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before { top: 6px;}
.hamburger::after { bottom: 6px;}

/*  Intro section  */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        transition: 
            transform 750ms cubic-bezier(.5, 0, .5, 1),
            opacity 250ms linear;
    }
    .intro__img:hover {
        transform: scale(1.1);
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/*  My projects section  */

.my-projects {
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-light);
    text-align: center;
}

.section__title--projects {
    color: var(--clr-accent);
    position: relative;
    margin-bottom: 2em;
}

.project {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 5em;
}

@media (min-width: 800px) {
    .projects {
        display: flex;
        justify-content: center;
        max-width: 1500px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .project + .project {
        margin-left: 2.5em;
    }
}

/* About me section */

.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}


@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 280px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
        
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 5em)
    }

    .about-me__img{
        grid-area: img;
        position: relative;
        z-index: 2;
        transition: 
            transform 750ms cubic-bezier(.5, 0, .5, 1),
            opacity 250ms linear;
    }
    .about-me__img:hover {
        transform: scale(1.2);
    }


}


/* My work */

.my-work {
    color: var(--clr-light);
    position: relative;
}

.section__title--work {
    color: var(--clr-accent);
    position: relative;
    margin-bottom: 2em;
}

.portfolio__item--odd,
.portfolio__item--even {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 5em;
}

.portfolio__img {
    box-shadow: var(--bs);
}


@media (min-width: 600px) {
    .portfolio__item--odd {
        display: grid;
        grid-template-columns: 230px 1fr;
        grid-template-areas: 
            "img title"
            "img text"
            "img btn";
        grid-column-gap: 2em;
    }

    .portfolio__item--even {
        display: grid;
        grid-template-columns: 1fr 230px;
        grid-template-areas: 
            "title img"
            "text img"
            "btn img";
        grid-column-gap: 2em;
    }


    .portfolio__item--title {
        grid-area: title;
    }

    .portfolio__item--body {
        align-self: center;
    }
    
    .portfolio__img {
        grid-area: img;
        position: relative;
        transition: 
            transform 750ms cubic-bezier(.5, 0, .5, 1),
            opacity 250ms linear;
    }
    
    .portfolio__img:hover {
        transform: scale(1.2);
    }

    .btn__details {
        grid-area: btn;
        align-self: end;
        display: inline-block;
        padding: .5em 2.5em;
        max-width: 150px;
        background: var(--clr-accent);
        color: var(--clr-dark);
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: var(--fw-bold);
        transition: transform 200ms ease-in-out;
    }
}

/* Contact */

.contact {
    position: relative;
    min-height: 100vh;
    min-width: 500px
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section__title--contact {
    color: var(--clr-accent);
}

.contact--contactForm {
    width: 40%;
    padding: 40px;
}

.contact--contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact--contactForm .inputBox input,
.contact--contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    margin: 20px 0;
    color: var(--clr-accent);
    border: none;
    border-bottom: 2px solid var(--clr-accent);
    outline: none;
    resize: none;
}

.contact--contactForm .inputBox input[type="text"],
.contact--contactForm .inputBox input[type="email"],
.contact--contactForm .inputBox textarea {
    background-color: black;
}

.contact--contactForm .inputBox span {
    color: black;
    position: absolute;
    left: 0;
    padding: 8px 0;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact--contactForm .inputBox input:focus ~ span,
.contact--contactForm .inputBox input:valid ~ span,
.contact--contactForm .inputBox textarea:focus ~ span,
.contact--contactForm .inputBox textarea:valid ~ span {
    color: var(--clr-light);
    transform: translateY(-35px)
}

.contact--contactForm .inputBox input[type="submit"] {
    width: 100%;
    background: var(--clr-accent);
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
}


/* footer */

.footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0.5em;
    padding-top: 0em;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}